*{
  font-family: "Poppins", sans-serif;  
}
.login-form{
   
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.login-form h3 {
    text-align: center;
    color: green;
}


form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.login-form input {
    padding: 9px;
}



.btn{
    background-color: rgb(67, 143, 67);
    color: white;
    width: 10%;
    padding: 7px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    margin: 0 auto;
    cursor: pointer;
}